#container {
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

#chart {
  width: 900px;
  margin: 40px 20px 80px;
  float: right;
}

#summary {
  width: 220px;
  margin: 40px 20px 80px;
  float: left;
}

#summary h3,
#summary p {
  margin-top: 20px;
  font-size: 1.1em;
}

#stats,
#intvls,
#textInput,
#dtControls {
  float:left;
  padding: 0px;
  display: inline;
  margin:20px 20px 0px 0px;
}

#stats {
  clear: left;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1px;
}

text.label {
  font-family: monospace;
  white-space: pre;
}

.table {
  margin-top: 20px;
}
