#container {
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

#chart {
  width: 900px;
  margin: 40px 20px 80px;
  float: right;
}

#summary {
  width: 220px;
  margin: 40px 20px 80px;
  float: left;
}

#summary h3,
#summary p {
  margin-top: 20px;
  font-size: 1.1em;
}

#stats,
#intvls,
#textInput,
#dtControls,
#submit {
  float:left;
  padding: 0px;
  display: inline;
}

#stats,
#intvls,
#textInput,
#dtControls {
  margin:20px 20px 0px 0px;
}

#submit {
  margin:8px 0px 0px 0px;
}

#stats {
  clear: left;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1px;
}

text.label {
  font-family: monospace;
  white-space: pre;
  font-size: 1em;
}

#tableSummary {
  clear: both;
  margin-top: 120px;
}

.table {
  margin-top: 20px;
}

.table th {
  color: #0070A3;
  background-color: #EFF7FD;
}

th:hover,
.legend:hover,
.y.axis g text:hover,
.y.axis path:hover {
  cursor:pointer;
}
