
#wrapper {
    width: 1200px;
    margin: 0 auto;
}

header,
footer {
    margin: 20px;
}

header {
    height: 60px;
}

footer {
    height: 20px;
    clear: both;
}

/* latency chart */

#chart {
    width: 800px;
    margin: 80px 20px 80px;
    float: right;
}

#summary {
    width: 220px;
    margin: 80px 60px 80px;
    float: left;
}

#summary h3,
#summary p {
    margin-top: 60px;
    font-size: 1.1em;
}
