
#wrapper {
    width: 1000px;
    margin: 0 auto;
}

header,
footer {
    margin: 20px;
}

header {
    height: 60px;
}

footer {
    height: 20px;
    clear: both;
}

/* latency chart */

#chart-summary,
#chart-controls,
#drilldown {
	/* Set inner boxes width to 960px */
    margin: 20px;
}

#chart {
    width: 720px;
    float: left;
}

#summary,
#controls {
    width: 200px;
    float: right;
}

#drilldown {
    width: 960px;
    clear: both;
}
