
#wrapper {width: 860px; margin: 0 auto;}

header, footer, #drilldown {margin: 20px;}
#chart, #summary {margin: 20px;}

header {height: 60px; border: 1px solid #CCCCCC;}

#chart {width: 580px; float: left; border: 1px solid #FF0000;}

#summary {width: 200px; float: right; border: 1px solid #0000FF;}

#drilldown {width: 820px; border: 1px solid #00FF00;}

footer {height: 20px; border: 1px solid #CCCCCC;}