@(metrics: List[DataMetric])
<!DOCTYPE html>
<html lang="en" class="no-js">
<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. --> 

<head id="dashboard.synapse.org" data-template-set="html5-reset">

    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Synapse Dashboard - List of Metrics</title>

    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/reset.css")' />
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/style.css")' />
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/metrics.css")' />

    <script src='@routes.Assets.at("javascripts/modernizr-2.6.2.dev.js")'></script>

</head>

<body>

<div id="wrapper">
    <header></header>
    <section class="metric-list">
        <dl>
            @for(metric <- metrics) {
                <dt><a href='chart/@metric.chartType?metric=@metric.id&@metric.queryString'>@metric.name -- @metric.chartName</a></dt>
                <dd>@metric.description</dd>
            }
        </dl>
    </section>
    <footer></footer>
</div>

<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
         http://chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em>
<a href="http://browsehappy.com/">Upgrade to a different browser</a> or
<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
to experience this site.</p><![endif]-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='/assets/javascripts/jquery-1.10.2.min.js'>\x3C/script>")</script>

</body>
</html>
